body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0b0f1a;
  color: #fff;
}

header {
  text-align: center;
  padding: 20px;
  background: linear-gradient(90deg, #00f2fe, #4facfe);
  color: black;
}

.signal-container {
  padding: 20px;
}

.card {
  background: #111;
  border: 1px solid #00f2fe;
  border-radius: 12px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 0 15px #00f2fe;
}

.buy { border-color: #00ff99; }
.sell { border-color: #ff4d4d; }

.type {
  font-weight: bold;
  font-size: 18px;
}
