body{
  margin:0;
  font-family:Arial;
  background:#0b1f17;
  color:#00ffb3;
  text-align:center;
}

#loading{
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:24px;
}

h1{
  text-shadow:0 0 10px #00ffb3;
}

.options button{
  margin:5px;
  padding:10px 15px;
  background:#00ff7f;
  border:none;
  border-radius:5px;
  font-weight:bold;
}

.signal{
  margin:15px;
  padding:15px;
  border:2px solid #00ff7f;
  border-radius:10px;
}

table{
  width:95%;
  margin:auto;
  border-collapse:collapse;
}

th,td{
  border:1px solid #00ff7f;
  padding:6px;
}
