body{
  margin:0;
  font-family:Arial, sans-serif;
  background:#050b16;
  color:white;
}

.app{
  max-width:400px;
  margin:auto;
  padding:20px;
}

h1{
  text-align:center;
  color:#00ffe1;
  text-shadow:0 0 15px #00ffe1;
}

.sub{
  text-align:center;
  color:#aaa;
  margin-bottom:20px;
}

.card{
  background:#0d1525;
  border:1px solid #00ffe1;
  border-radius:15px;
  padding:15px;
  margin-bottom:15px;
  box-shadow:0 0 15px rgba(0,255,225,0.4);
}

.card h2{
  margin:0;
  color:#00ff99;
}

.buy{ color:#00ff99; }
.sell{ color:#ff4d4d; }

.note{
  margin-top:10px;
  color:#ffd166;
}
